
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>About Us</h2>

<span>
    ABCD Inc. is one of the leading IT consulting and Software services company. We are headquartered in the picturesque city of Sunnyvale, California, which is home to the 'Gateway to the West Arch' depicting the USA's westward expansion from this city.

    Since 1997, we have been providing high quality and cost effective software consultancy and outsourcing services to our clients in USA, Europe and India. We harness the power of Information Technology and use a low risk global delivery model to help our customers secure a competitive edge in their respective businesses.

    Nurturing long-term partnerships has been a way of life at Tetrasoft. We firmly believe that in the "Power of Partnership" lies the ability to identify mutually beneficial opportunities, increase individual strengths and intensify commitments. We are armed with a strong team of software professionals. We believe that "Great things can happen only when we work together as a TEAM (Together Everybody Achieves More)".

    At Tetrasoft, everything we do is inspired by our enduring Mission & Values. We focus on working collaboratively with our clients by providing high quality, contemporary and cost effective Software Development as well as IT consulting services.
</span>

