
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Home Page</h2>

<span>
    We are an IT services company offering world class IT Consulting, Outsourcing, Testing, Product Development and Maintenance services. We maintain high service standards and offer our customers' top-quality products and high level services in our areas of expertise.
</span>

